:root {
  /* Dimensions */
  --padding: 10px;
  --margin: 20px;
  --font-size-base: 15px;
  --border-radius: 10px;

  /* Colors */
  --primary-red: #cc3928;
  --black: #111927;
  --gradient: linear-gradient(90deg, #965af8, #cc3928);
  --gradient-bar-background: #e5e7eb;
  --grey-background: #fafafb;
  --question-container-grey: #f9fafb;
  --icons-color: #6c737f;
  --icons-background: #f3f4f6;
  --icons-border: #e6e7e9;
}
