:root {
  /* Dimensions */
  --spacing: 10px;
  --spacingDouble: 20px;
  --font-size-small: 12px;
  --font-size-base: 15px;
  --font-size-big: 22px;
  --border-radius: 10px;
  --icon-size: 24px;
  --icon-size-big: 32px;
  --main-content-min-width: 600px;

  /* Colors */
  --primary-red: #DE2316;
  --black: #111927;
  --gradient: linear-gradient(90deg, #A056FF, #FF162B);
  --gradient-bar-background: #e5e7eb;
  --grey-background: #fafafb;
  --question-container-grey: #f9fafb;
  --icons-color: #6c737f;
  --icons-background: #f3f4f6;
  --icons-border: #e6e7e9;
}
