.Login {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--icons-border);
  border-radius: var(--border-radius);
  gap: var(--spacingDouble);
  padding: calc(var(--spacingDouble) * 2);
  margin: auto;
  min-width: 300px;
  min-height: 300px;
  max-width: 350px;

  .authError {
    font-size: var(--font-size-small);
    color: var(--primary-red);

    &:empty {
      display: none;
    }
  }

  .logo {
    margin: auto;
  }
}