.Quiz {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.QuizNotFound {
  opacity: .25;
}

.quizHeader {
  display: flex;
  align-items: center;
  gap: var(--margin);
  border-bottom: 1px solid var(--icons-border);
  padding-bottom: var(--margin);
}

.quizIcon {
  color: var(--icons-color);
  background: var(--icons-background);
  border: 1px solid var(--icons-border);
  border-radius: 50%;
  padding: 15px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  margin: var(--padding) calc(var(--margin) * 1.5);

  .questionChoices {
    display: flex;
    justify-content: space-between;
    gap: var(--margin);
  }

  .questionChoiceButton {
    flex: 1;

    &.selectedChoice {
      box-shadow: inset 0 0 0 5px rgba(from var(--black) r g b / .5);
    }
  }
}

.quitOrContinue {
  display: flex;
  justify-content: right;
  gap: var(--margin);
}

.progress {
  display: flex;
  align-items: center;
  gap: calc(var(--margin) * 2);

  .progressLine {
    flex: 1;
  }

  .progressRemainInfo {
    color: var(--primary-red);
    font-size: 70%;
    font-weight: 700;
  }
}

.submitError {
  text-align: center;
  padding: var(--padding);
  color: var(--primary-red);
  background: rgba(from var(--primary-red) r g b / .25);
  border: 1px solid rgba(from var(--primary-red) r g b / .5);
  border-radius: var(--border-radius);

  &:empty {
    display: none;
  }
}
