.Button {
  position: relative;
  /*overflow: hidden; // required for transition effect on hover*/
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #414448;
  flex-shrink: 0;
  line-height: 1;
  font: inherit;
  border-radius: var(--theme-border-radius);
  padding: var(--theme-spacing) calc(var(--theme-spacing) * 1.5);

  form:not([novalidate]):invalid &[type=submit]:not(.active),
  &:disabled {
    color: silver;
    background: gray;
    pointer-events: none;
  }

  &:focus:not(:active) {
    transition: box-shadow 350ms;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .5);
  }

  &:before {
    content: "";
    transform: rotate(-90deg);
  }
}
