.MainLayout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 100px 1fr 100px;
  background-color: var(--grey-background);
}

.MainLayoutHeader {
  position: relative;
  background-color: #fff;
  padding: var(--spacing);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1 / 4;
}

.MainLayoutContent {
  position: relative;
  background-color: #fff;
  min-width: var(--main-content-min-width);
  margin: var(--spacingDouble) 0;
  padding: var(--spacingDouble);
  border-radius: var(--border-radius);
  border: 1px solid var(--icons-border);
  grid-column: 2 / 3;
}
