@import "../../fonts.css";
@import "../../variables.css";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  font: var(--font-size-base) Inter, sans-serif;
  color: var(--black);
}

input, select, textarea {
  font-size: inherit;
  color: inherit;

  &:invalid {
    box-shadow: none;
  }
}

a {
  color: var(--primary-red);
  cursor: pointer;
}

/* generated div#app from main.tsx */
:global(#app) {
  display: flex;
  width: 100%;
  height: 100%;
}
